*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
main{
    background-color: white;
    margin-top: 5%;
    border-radius: 2%;
}
.hide{
    display: none;
}
.task{
    margin: 2px auto;
    border-radius: 10%;
    padding: 0.3em;
    color: black;
}
.done{
    text-decoration: line-through;
}